.wrapper {
  padding: 10px;
}

.heading {
  font-family: "PT Sans", sans-serif;
  margin: 5px 0 20px 0;
  text-align: center;
}

.loginForm {
  /* display: flex;
  flex-direction: column; */
}

.loginForm >div {
  position: relative;
  overflow: hidden;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid black;
  padding: 8px 12px;
  margin: 20px 0;
  outline: 0;
  z-index: 1;
  /* top: 0;
  left: 0; */
  background-color: none;
}

.input:valid {
  background-color: white;
}

.input:focus {
  border-color: black;
  padding: 4px 6px 20px 6px; 
}

.input:focus+.label {
  box-sizing: border-box;
  background-color: black;
  border-color: black;
  color: white;
  z-index: 2;
  text-transform: uppercase;
  font-size: 70%;
  padding: 1px 6px;
  top: 100%;
  margin-top: -16px;
}

.label {
  box-sizing: border-box;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: black;
  padding: 0px;
}