.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: inherit;
  padding: 10px;
  font-size: 14px;
}

.heading {
  font-family: "PT Sans", sans-serif;
  margin: 5px 0 20px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form>div {
  position: relative;
  overflow: hidden;
  margin: 20px;
}

input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black; 
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  outline: 0;
}

input:valid {
  background-color: white;
}

input:focus {
  border-color: #1338be;
}

input:focus+label {
  background: #1338be;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}

label {
  display: flex;
  align-items: center;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: black;
  padding: 7px 6px;
}

label:hover {
  cursor: text;
}

.input {
  padding: 20px; 
}

.label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.input:focus {
  padding: 20px;
}

.input:focus+.label {
  top: 100%;
  margin-top: -16px;
}

.errorMessage {
  margin: -20px 20px 0 20px;
  color: #1338be;
  font-weight: bold;
  font-size: 12px;
}

.submit {
  border: none;
  color: white;
  background-color: black;
  margin: 50px 20px;
  padding: 20px;
  font-size: 14px;
}
