html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: calc(100% - 75px);
}

footer {
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
}

#page-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 42px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

/* .leaflet-popup-content-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.leaflet-popup-content {
  padding: 5px 10px;
}

.leaflet-popup-content p, h1 {
  margin: 0;
}

.place-description {
  font-size: 16px;
} */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.modal-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  border: none;
  background-color: inherit;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}
